* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #f9fafb, #eef2ff);
  color: #1f2937;
}

/* Navigation */

.navbar {
background: linear-gradient(90deg, #0d6efd, #38bdf8);
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #0d6efd;
}

/* HOME */

.home {
  min-height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10%;
  flex: 1;
}

.home-text h1 {
  font-size: 3rem;
    margin-bottom: 10px;
}

.home-text span {
  color: #0d6efd;
}


.home-img img {
  width: 400px;
  border-radius: 50%;
  border: 6px solid #0d6efd;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}





/* About */

.page {
  padding: 80px 12%;
  text-align: center;
  flex: 1;
}

.prog{
  color: #0d6efd;
  font-weight: bold;
}


.social p{
  font-size:18px;
  margin:10px 0;
}

.social i{
  color:#E1306C;
  margin-right:10px;
  font-size:22px;
   font-weight: 900;
}

.social span{
  font-size: 15px;
  font-weight: 500;
}

.social a{
  text-decoration:none;
  color:#333;
}

.social a:hover{
  color:#0d6efd;
}


/* PROJECT 

.project-card {
  background: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.project-card a {
  display: inline-block;
  margin: 10px 8px 0;
  padding: 8px 18px;
  background: linear-gradient(135deg, #0d6efd, #38bdf8);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.project-card a:hover {
  transform: translateY(-2px);
}
*/


/* FOOTER */
footer {
  background: #222;
  color: #ccc;
  text-align: center;
padding: 15px;
 /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
}

/* RESPONSIVE */
@media(max-width: 900px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-img img {
    margin-bottom: 25px;
  }
}

